

html {
  /*height: 100%;*/
  /*background-color: #ffffff;*/

 
  
}

body {
	min-height: 100vh;
	 font-family: Roboto;
  font-weight: :300;
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*color: #fff;*/
  text-shadow: 0 .02rem .1rem rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, .3);
}



#menu-item-42 {
	font-size: 1em;
}

#content {
	text-align: center;
	padding-top: 10%;
	color: black;

}



#first {
	font-weight: 700;

}

#home {
	font-size: 1.5em;
}

#sknavbar{
	padding:0;
	font-size: 1em;

}

hr {

    border: 0;
    height: 1px;
    /*background: #333;*/
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 5px;
    margin-top: 0px;
}

#photo {
	
	max-width: 100%;
	margin-top: 5%;
}

#photo-container {
	
}

#content {
	text-align: left;
	font-size: 0.5em;
	padding-top: 5%;
}

#social {
	margin-top:5%;
	padding-top: 5%;

	font-size: 1.3em;
}

a {
	color: black;
}

a:hover {
	color:gray;

}

#footer {
	padding: 0;
}

#footer-hr {
	margin-top:5%;
	
}

#footer-icons{
	font-size:2em;
}



#projects {
	 text-shadow: 0 .02rem .1rem rgba(0, 0, 0, .3);
}

#hr-code {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top:1%;
    margin-bottom: 1%;
}


#return-to-top {
	z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
  


}
#return-to-top i {
    color: #fff;
    position: relative;
    left: 0.3em;
    top: 0.5em;
    font-size: 2em;
  
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


#major-projects {
  
    padding: 0 10% 0 25%;
}