

html {
  /*height: 100%;*/
  /*background-color: #ffffff;*/

 
  
}

body {
	min-height: 100vh;
	 font-family: Roboto;
  font-weight: :300;
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*color: #fff;*/
  text-shadow: 0 .02rem .1rem rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, .3);
}



#menu-item-42 {
	font-size: 1em;
}

#content {
	text-align: center;
	padding-top: 10%;
	color: black;

}



#first {
	font-weight: 700;

}

#home {
	font-size: 1.5em;
}

#sknavbar{
	padding:0;
	font-size: 1em;

}

hr {

    border: 0;
    height: 1px;
    /*background: #333;*/
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 5px;
    margin-top: 0px;
}

#photo {
	
	max-width: 100%;
	margin-top: 5%;
}

#photo-container {
	
}

#content {
	text-align: left;
	font-size: 0.5em;
	padding-top: 5%;
}

#social {
	margin-top:5%;
	padding-top: 5%;

	font-size: 1.3em;
}

a {
	color: black;
}

a:hover {
	color:gray;

}

#footer {
	padding: 0;
}

#footer-hr {
	margin-top:5%;
	
}

#footer-icons{
	font-size:2em;
}

/*.code {
	font-family: 'Roboto Mono', monospace;
	background-color: grey;
}*/

#projects {
	 text-shadow: 0 .02rem .1rem rgba(0, 0, 0, .3);
}

#hr-code {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top:1%;
    margin-bottom: 1%;
}